body {
  background: #e9eCf7;
  color: #3b3b3b;
}

.githun-button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #474747;
  border-radius: 6px;
  text-decoration: none;
}

.icon {
  font-weight: 400;
  font-size: large;
}
